@model Getri_FinalProject_MVC_API.ViewModel.CategoryViewModel
<form asp-action="CreateCategory">
	<div>
		<div class="form-group">
			<label asp-for="CategoryName"></label>
			<input asp-for="CategoryName" class="form-control" />
		</div>
		<br />

		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</div>

	</div>
</form>