@model IEnumerable<Getri_FinalProject_MVC_API.ViewModel.CategoryWithIdViewModel>

<div class="panel panel-primary">


	<div class="panel-heading">Categories</div>
	<div class="panel-body">
		<div class="btn-group">
			<a id="createCategoriesModal" asp-action="CreateCategory" class="btn btn-primary">
				Add Category
			</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a id="createProductModal" asp-action="CreateProduct" class="btn btn-primary">
                Add Product
			</a>
		</div>
		<br /><br />

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Category Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
						<td>
							<a id="editCategoryModal" asp-action="EditCategory" asp-route-id="@item.CategoryId" class="btn btn-info">Edit</a>

							<a id="detailsCategorymodel" asp-action="CategoryDetails" asp-route-id="@item.CategoryId" class="btn btn-success">Detail</a>

							<a id="deleteCategoryModal" asp-action="DeleteCategory" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
						</td>

					</tr>
				}
			</tbody>
		</table>

	</div>
</div>

